<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms
     loginUrl="~/Member/MemberLogin.aspx"
     defaultUrl="~/Default.aspx"
     protection="All"
     cookieless="UseCookies"
     timeout="1440"
     path="/" />
		</authentication>
		

		<machineKey
    validationKey="AutoGenerate,IsolateApps"
    decryptionKey="AutoGenerate,IsolateApps"
    validation="SHA1" />

		<authorization>
			<deny users="?" />
			<!-- Block anonymous users everywhere -->
		</authorization>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_NewsFocusService" />
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://webstrar46.fulton.asu.edu/Page10/NewsFocusService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NewsFocusService"
    contract="NewsFocus.NewsFocusService" name="BasicHttpBinding_NewsFocusService" />
   <endpoint address="http://webstrar46.fulton.asu.edu/Page8/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
    contract="WordFilter2.IService1" name="BasicHttpBinding_IService1" />
  </client>
	</system.serviceModel>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<!-- Allow everyone to access Default.aspx -->
			</authorization>
		</system.web>
	</location>
</configuration>